<div class="footer">
    <div class="top">
        Brasil
    </div>
    <div class="bottom">
        <div class="links-1">
            <ul>
                <li><a href="https://about.google/?utm_source=google-BR&utm_medium=referral&utm_campaign=hp-footer&fg=1">Sobre</a></li>
                <li><a href="https://www.google.com/intl/pt-BR_br/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Publicidade</a></li>
                <li><a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Negócios</a></li>
                <li><a href="https://google.com/search/howsearchworks/?fg=1"> Como funciona a Pesquisa </a></li>
            </ul>
        </div>
        <div class="links-2">
            <ul>
                <li><a href="https://policies.google.com/privacy?hl=pt-BR&fg=1">Privacidade</a></li>
                <li><a href="https://policies.google.com/terms?hl=pt-BR&fg=1">Termos</a></li>
                <li><a href="#">Configuração</a></li>
            </ul>
        </div>
    </div>
</div>
